*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.red {
  color: red;
  text-align: right;
}

h4 {
  background-color: #ffce99;
  color: #d0834b;
  padding: 8px;
  margin: 0px;
}

body {
  font-weight: bold;
  font-family: helvetica;
}

p {
  margin: 5px;
  float: none;
}

.animal{
  width: 120px;
  float: left;
  margin:5px;
}

img {
  width: 100px;
  border: 2px solid blue;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.footer{
  display: block;
  float: none;
  width: 500px;
}

.row-animals {
  display: block;
  float: none;
  clear: right;
  width: 600px;
}

.animal p {
  color: blue;
  text-align:center;
  margin:0px;
}
.animal img + p {
  color: green;
  font-weight: normal;
}
